*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#0b0b0b;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
    background:#111;
}

.logo{
    font-size:30px;
    color:#d4af37;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:.3s;
}

nav a:hover{
    color:#d4af37;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:60px;
    color:#d4af37;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#ddd;
    margin-bottom:35px;
}

.btn{
    background:#d4af37;
    color:#111;
    padding:15px 35px;
    text-decoration:none;
    border-radius:50px;
    font-weight:bold;
}

.btn:hover{
    background:white;
}
